.picker.open {
    transform: translate(0%, -50%);
}

.button {
    transition: all 0.3 ease;
}

.button.open {
    animation: wiggle 1s infinite;
}

.button.close {
    animation: wiggleWithOpacity 1s infinite;
}

@keyframes wiggleWithOpacity {
    0% {
      transform: translateX(0px) rotateY(0deg);
      background-color: rgba(255, 255, 255, 0);
    }

    50% {
      transform: translateX(10px) rotateY(0deg);
      background-color: rgba(255, 255, 255, 0.5);
    }

    100% {
      transform: translateX(0px) rotateY(0deg);
      background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0px) rotateY(180deg);
    }

    50% {
        transform: translateX(10px) rotateY(180deg);
    }
    
    100% {
        transform: translateX(0px) rotateY(180deg);
    }
}